{% extends "GenericBase.html" %}

{% block javascript %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $.ajax({
                url: '/MatchAndRank/Ajax/FindMentor/',
                data: {
                    username: "{{ user.get_username }}"
                },
                dataType: 'json',
                success: function (result) {
                    res = result;

                    if (JSON.stringify(res).indexOf("ERROR, MENTOR ALREADY EXISTS") == -1) {
                        for (i in res) {
                            printMentor(res[i], i)
                        }
                    } else {
                        $("#Results").append("У вас уже есть ментор.")
                    }

{#                    addImages();#}
                }
            });
        });

        var mentorPageId = 1;

        function printMentor(mentor, mentorId) {
            var div = $("<div></div>");
            div.attr("id", mentorPageId);
            div.attr("name", mentorId);
            div.addClass("dataBlock");

            {#            if (mentorPageId % 2 == 1) {#}
            {#                div.addClass("dataBlock Left");#}
            {#            } else {#}
            {#                div.addClass("dataBlock Right");#}
            {#            }#}

            div.click(function () {
                var noChosen = true;

                if (document.getElementsByClassName("Chosen").length > 0) {
                    noChosen = false;
                }

                if (noChosen) {
                    if (!div.hasClass("Chosen")) {
                        div.addClass("Chosen");
                    }
                } else {
                    if (div.hasClass("Chosen")) {
                        div.removeClass("Chosen");
                    }
                }

                toggleButton();
            });

            // ----------------------------------------

            div.append(
                $("<div class=\"Row\"></div>")
{#                    .append(#}
{#                        $("<div class=\"Cell\" id=\"Image" + mentorPageId + "\"></div>")#}
{#                    )#}
                    .append(
                        $("<div class=\"Cell PercentageCell\"></div>")
                            .append("<span class=\"Percentage\">" + mentor['percentage'] + "</span>")
                            .css("color", "rgb(" + (Math.floor((100 - mentor['percentage']) / 100 * 255)) +
                                ", " + (Math.floor(mentor['percentage'] / 100 * 255)) + ", 0)")
                    )
                    .append(
                        $("<div class=\"Cell\"></div>")
                            .append(
                                $("<div class=\"Table\"></div>")
                                    .append(
                                        $("<div class=\"Row\"></div>")
                                            .append($("<div class=\"Cell LeftCell\">" + "Фамилия:" + "&nbsp;</div>"))
                                            .append($("<div class=\"Cell\">" + mentor['surname'] + "</div>"))
                                    )
                                    .append(
                                        $("<div class=\"Row\"></div>")
                                            .append($("<div class=\"Cell LeftCell\">" + "Имя:" + "&nbsp;</div>"))
                                            .append($("<div class=\"Cell\">" + mentor['name'] + "</div>"))
                                    )
                                    .append(
                                        $("<div class=\"Row\"></div>")
                                            .append($("<div class=\"Cell LeftCell\">" + "Отчество:" + "&nbsp;</div>"))
                                            .append($("<div class=\"Cell\">" + mentor['patronymic'] + "</div>"))
                                    )
                                    .append(
                                        $("<div class=\"Row\"></div>")
                                            .append($("<div class=\"Cell LeftCell\">" + "Возраст:" + "&nbsp;</div>"))
                                            .append($("<div class=\"Cell\">" + mentor['age'] + "</div>"))
                                    )
                                    .append(
                                        $("<div class=\"Row\"></div>")
                                            .append($("<div class=\"Cell LeftCell\">" + "Образование:" + "&nbsp;</div>"))
                                            .append($("<div class=\"Cell\">" + mentor['institutes'] + "</div>"))
                                    )
                                    .append(
                                        $("<div class=\"Row\"></div>")
                                            .append($("<div class=\"Cell LeftCell\">" + "Опыт работы:" + "&nbsp;</div>"))
                                            .append($("<div class=\"Cell\">" + mentor['overalexperience'] + "</div>"))
                                    )
                                    .append(
                                        $("<div class=\"Row\"></div>")
                                            .append($("<div class=\"Cell LeftCell\">" + "Опыт в компании:" + "&nbsp;</div>"))
                                            .append($("<div class=\"Cell\">" + mentor['currentcompanyexperience'] + "</div>"))
                                    )
                                    .append(
                                        $("<div class=\"Row\"></div>")
                                            .append($("<div class=\"Cell LeftCell\">" + "Программные языки:" + "&nbsp;</div>"))
                                            .append($("<div class=\"Cell\">" + mentor['codinglanguages'] + "</div>"))
                                    )
                            )
                    )
            );

            // ----------------------------------------

            $("#Results").append(div);

            mentorPageId++;
        }

        function toggleButton() {
            var noChosen = true;

            if (document.getElementsByClassName("Chosen").length > 0) {
                noChosen = false;
            }

            if (noChosen) {
                if (document.getElementById("ChosenButton") != null) {
                    $("#ChosenButton").remove();
                }
            } else {
                if (document.getElementById("ChosenButton") == null) {
                    $("#Results").prepend(
                        $("<button id=\"ChosenButton\">Выбрать этого ментора</button>")
                            .click(function () {
                                for (var i = 0; i < mentorPageId; i++) {
                                    if ($("#" + i).hasClass("Chosen")) {
                                        var chosenMentorId = i;
                                    }
                                }

                                $.ajax({
                                    url: '/MatchAndRank/Ajax/ChosenMentor/',
                                    data: {
                                        mentor: $("#" + chosenMentorId).attr("name")
                                    },
                                    dataType: 'json',
                                    success: function (result) {
                                        window.location.href = "/MatchAndRank/FindMentor";
                                    }
                                });
                            })
                    );
                }
            }
        }

        function addImages() {
            $.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?jsoncallback=?",
                {
                    tags: "kitten",
                    tagmode: "any",
                    format: "json"
                },
                function (data) {
                    for (var i = 0; i < mentorPageId; i++) {
                        $("#Image" + i)
                            .css("background-image", "url(\"" + data.items[i]['media']['m'] + "\")")
                            .css("height", "200px")
                            .css("width", "100px")
                    }
                });
        }
    </script>
{% endblock %}

{% block css %}
    <style>
        #findMentor {
            filter: invert(100%);
            border: solid white;
        }

        .dataBlock {
            border: 1px solid black;
            width: 96%;
            height: 10px;
            margin: 10px;
            display: inline-table;
            background-color: white;
            padding: 1%;
            align-self: center;
        }

        .Left {
            float: left;
        }

        .Right {
            float: right;
        }

        .Chosen {
            background-color: #dcf0d8;
        }

        .Row {
            display: table-row;
        }

        .Cell {
            display: table-cell;
            padding: 5px;
        }

        .LeftCell {
            border-right: 1px solid black;
            width: 20%;
        }

        .Table {
            display: table;
        }

        .PercentageCell {
            width: 15%;
            vertical-align: middle;
            text-align: center;
            border-right: 1px solid black;
            border-left: 1px solid black;
        }

        .Percentage {
            font-size: 4vw;
            text-align: center;
        }
    </style>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
    <div id="Results"></div>
{% endblock %}

{% block footer %}{% endblock %}