{% extends "GenericBase.html" %}

{% block javascript %}{% endblock %}

{% block css %}
    <style>
        #content {
            text-align: center;
        }
    </style>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
    <div id="content">
        Вы вошли на веб-интерфейс приложения, осуществяющего поиск ментора/менти для работников в корпорациях.
        <br><br>
        Приложение было разработано в рамках хакатона MentorHack 2018.
    </div>
{% endblock %}

{% block footer %}{% endblock %}