{% extends "GenericBase.html" %}

{% block javascript %}{% endblock %}

{% block css %}
    <style>
        div.main {
            font-size: 1.25vw;
        }

        #login {
            filter: invert(100%);
            border: solid white;
        }

        #content {
            text-align: center;
        }

        #inputDiv {
            margin: 0 auto 0 auto;
        }

        input[type=submit] {
            font-size: 1vw;
            margin-top: 20px;
            width: 150px;
            height: 25px;
            background: white;
            text-align: center;
            border: 1px solid black;
        }

        .table {
            display: table;
            margin: 0 auto 0 auto;
        }

        .tableRow {
            display: table-row;
        }

        .tableCell {
            display: table-cell;
        }

        form {
            margin: 80px 0 80px 0;
        }
    </style>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
    <div id="content">
        {% if form.errors %}
            Ваши логин и пароль не совпали. Пожалуйста, попробуйте еще раз.
            <hr noshade size="1px">
        {% endif %}

        {% if next %}
            Пожалуйста войдите в свою учетную запись, чтобы просмотреть эту страницу.
            <hr noshade size="1px">
        {% endif %}

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="table">
                <div class="tableRow">
                    <div class="tableCell">
                        Логин:&nbsp;&nbsp;
                    </div>
                    <div class="tableCell">
                        {{ form.username }}
                    </div>
                </div>
                <div class="tableRow">
                    <div class="tableCell">
                        Пароль:&nbsp;&nbsp;
                    </div>
                    <div class="tableCell">
                        {{ form.password }}
                    </div>
                </div>
            </div>

            <div id="inputDiv">
                <input type="submit" value="Войти"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </div>
        </form>

        <div style="text-align: left">
            Юзеры:<br>
            c2ccf9a4fcb0387a702af6abea8592c5e37ca7cf<br>
            8419b42196ac5b832a38017a7d8311b81a758104<br>
            e5e8dda129ad6b9e50b329695e5bce3abe53d246<br>
            9aaef1804d970439441dea3ba2d48e96c0aa8e45<br>
            9fc15df5251ecfde6968449aec1cef25dfc5d9c5<br><br>

            Пароль:<br>
            qwerty12<br>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}